h3 {
  color: #ee6f57;
}

h6 {
  color: #ee6f57;
  font-style: italic;
}

/* General Guidelines */
.hero {
  padding: 10rem 10rem 10rem;
}

.large {
  font-size: 10rem;
}

.pad {
  padding: 2rem 5rem 2rem;
}

.light-grey {
  background-color: #f6f5f5;
}

/* Markdown */

.markdown tr:nth-child(even){background-color: #f2f2f2;}
.markdown tr:hover {background-color: #ddd;}
.markdown td, .markdown th {
  border: 1px solid #ddd;
  padding: 8px;
}
.markdown th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ee6f57;
  color: white;
}

/* Header */
.header a {
  color: #f6f5f5;
}

.header a:hover {
  color: #ee6f57;
  text-decoration: none;
}

.header {
  background-color: #00334e;
  margin-bottom: 0px;
}

/* Footer */
.footer a {
  color: #f6f5f5;
}

.footer a:hover {
  color: #ee6f57;
  text-decoration: none;
}

.footer {
  padding-top: 1rem;
  width: 100%;
  line-height: 1rem;
  background-color: #808080;
  color: #f6f5f5;
}

/* Portfolio */
.portfolio a {
  color: #f6f5f5;
}

.portfolio a:hover {
  color: #ee6f57;
  text-decoration: none;
}
