h3 {
  color: #ee6f57;
}


/* Index */
.hero {
  padding: 10rem 10rem 10rem;
}

.pad {
  padding: 2rem 5rem 2rem;
}

.light-grey {
  background-color: #f6f5f5;
}


/* Header */
.header a {
  color: #f6f5f5;
}

.header a:hover {
  color: #ee6f57;
  text-decoration: none;
}

.header {
  background-color: #00334e;
  margin-bottom: 0px;
}

/* Footer */
.footer a {
  color: #808080;
}

.footer a:hover {
  color: #ee6f57;
  text-decoration: none;
}

.footer {
  padding-top: 1rem;
  width: 100%;
  line-height: 1rem;
}
